[submodule "toob-registry"]
	path = toob-registry
	url = https://github.com/Toob-Boot/Toob-Registry.git

[submodule "cli/.pipeline-repo"]
	path = cli/.pipeline-repo
	url = https://github.com/Toob-Boot/Toob-CLI-Pipeline.git

[submodule "common/lib/heatshrink"]
	path = common/lib/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
	ignore = dirty
